*{
    margin:0;
    padding:0;
    font-optical-sizing: auto;
    font-size:normal;

}
img{
    width:100%;
    height:100%;
}
.img{
    width:40px;
    height:40px;
}
nav{
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-between;

}
a{
    color:white;
}
.left-section{
    display:flex;
    justify-content: center;
    align-items: center;
}
.right-section{
    display:flex;
}
.right-sub-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.section-left-section{
    display: flex;
}
.bag{
    dispaly:flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}
.address{
    display:flex;
    flex-direction: column;
    padding:10px;
    border-left: 2px solid black;
}
select{
    margin: 0px 40px 0px 8px;
    border:none;
    background-color: black;
    color: white;
}
select,.store,.contact,.login{
    font-size:12px;
}
.address-text{
    font-size:10px;
}
.adress-link{
    font-size:14px;
}
.allen1{
    width:148px;
    height:58px;
    margin-left:6em;
}
.solly{
    color:black;
    text-align: center;
    margin-left:18em;
    position: relative;
    bottom:2.5em;
    display:flex;
}
.solly1{
     margin-left:1em;
     text-align: center;
     color:rgb(25, 25, 60);
     position:relative;

}
.solly2{
    margin-left:2em;
    color:red;


}
#search-icon{
    width:23px;
    height:23px;
    position: relative;
    left:1em;
    bottom: 0.5em;
}
.text-box{
    border:none;
    position:relative;
    border-bottom: 1px solid black;
    left:1em;
    bottom:1em;
    outline: none;
}
#van{
    width:30px;
    height:30px;
    position: absolute;
    bottom:10px;
    right:12em;

}
.delivery-van{
    margin-left: 2em;
    position: relative;
    bottom: 1em;
}
.delivery-text{
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 223, 0);
    border-radius: 30px;
    width: 15em;
    padding:8px;
    font-size: 12px;
    justify-content: end;
    align-items: end;
    position: relative;
 
}

